@charset "UTF-8";

/* スタイルシート */
/* 購入診断 */

.shouhin_name{
	padding-left: 50px;
}

/* formのサイズ */
#diagnosis_form{
	margin: 0 auto;
	
}
	/* form入力場所 */
#diagnosis_form input[type = "text"]{
	margin:0 0 0 50px;
	padding: 15px;
	width: 150px;
	border: 1.9px solid #C75000;
	border-radius: 15px ;
}
/* 想定年数欄小さめに */
#diagnosis_form .year input[type = "text"]{ 
	padding: 15px;
	width: 60px;
}

	/* 入力項目名の位置 */
#diagnosis_form label{
	margin: 0 0 0 60px;
}


/* 診断ボタン */
#diagnosis_form input[type = "submit"]{
	margin: 20px 0 0 100px;
	padding: 10px;
	width: 80px;
	/*border: none;
	background-color: #FFCC00;*/
	
	background-color: #C75000;
	color: #fff;
	border: none;
	border-radius: 24px;
	/*padding: 8px 24px;*/
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.2s;
}

#diagnosis_form input[type = "submit"]:hover {
	background-color: #a34400;
}
	


/* 診断結果表示リスト*/
/* 枠 */
/*
.card {
	border: 1.9px solid #7A2C00;
	padding: 5px 5px;
	border-radius: 15px ;
}*/

/* sd_ad.cssから拝借 */
.card {
  max-width: 750px;
  margin: 48px auto 48px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px 100px;
}

/* 中央に配置 */
.card h3{
	text-align: center;
}
#diagnosis_result{
	margin: 0 auto;
	
}
/* ⊖ボタン */
#diagnosis_result input[type = "submit"]{
	background-color: #C75000;
	color: #fff;
	border: none;
	border-radius: 50px;
	padding: 8px 11px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.2s;
}
#diagnosis_result input[type = "submit"]:hover {
	background-color: #a34400;
}




