@charset "UTF-8";

/* スタイルシート */
/* 購入診断 */
/*

	/* form配置 */
.diagnosis_form{
	display: flex;
}
.diagnosis{
	display: flex;
}
/* 「円」、「使用年数」配置 */
.tanni{
	margin: 50px 0 0 0;
}
	/* form入力欄の形 */
.diagnosis_form input{
	/*margin:0 0 0 80px;*/
	padding: 15px;
	width: 150px;
	border: 1.9px solid #7A2C00;
	border-radius: 15px ;
}
	
/* 想定年数欄小さめに */
.diagnosis_form input[type = "number"]{ 
	padding: 15px;
	width: 60px;
}

	/* 入力項目名の位置 */
.diagnosis{
	margin: 0 0 0 93px;
}
	/* 入力項目名の色 */
.diagnosis{
	color: #7A2C00;
}


/* 診断ボタン */
.diagnosis_form input[type = "submit"]{
	margin: 20px 0 0 100px;
	padding: 10px;
	width: 80px;
	
	
	background-color: #C75000;
	color: #fff;
	border: none;
	border-radius: 24px;
	
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.diagnosis_form input[type = "submit"]:hover {
	background-color: #a34400;
}

/* 診断結果表示リスト*/

/* sd_ad.cssから拝借 */
.card {
  max-width: 750px;
  margin: 48px auto 48px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px 100px;
}

/* 中央に配置 */
.card h3{
	text-align: center;
	color: #C75000;
}
.card{
	color: #C75000;
}
.diagnosis_result {
	/*border-spacing: 0px 0px;
	margin: 0 auto 20px auto;*/
	text-align: center;
}

	/* 区切り線 */
.diagnosis_result td{
	border-bottom: 1px dashed #C75000;
	padding: 13px;
	height: 20px; /* 行の高さ */
}
.diagnosis_result tr{
	display: flex;
}
.diagnosis_result td.dia_button {
	border-bottom: none;
}

/* ⊖ボタン */
.diagnosis_result input[type = "submit"]{
	background-color: #C75000;
	color: #fff;
	border: none;
	border-radius: 50px;
	padding: 6px 9px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.2s;
	/*margin: 5px 25px 50px 0;*/
}
.diagnosis_result input[type = "submit"]:hover {
	background-color: #a34400;
}


/* 使い方リスト */
.explane{
  max-width: 750px;
  margin: 48px auto 48px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px 100px;
  color: #C75000;
 }
 	/* 使い方 */
.explane h2{
	text-align: center;
	color: #C75000;
	border-bottom: 1px dashed #C75000;
	padding: 10px;
	
}
	/* 365右寄せ */
.sanrokugo{
	text-align: right;
}

/* 各項目名の中央配置
.explane strong{
	display: block;
  text-align: center;
 }*/





/* モバイル対応 */
@media(max-width: 480px){
	/* 診断ボタン */
	.diagnosis_form input[type = "submit"]{
		margin: 35px 0 0 0;
	}
	.dia {
		text-align: center;
		}
	
	/* フォーム縦並び */
	/*table.diagnosis td, table.diagnosis tr,
	table.diagnosis tbody, table.diagnosis {
		display: block;
		width:100%;
		box-sizing: border-box;
	}*/
	.diagnosis_form{
		flex-direction: column;
		gap: 30px;		
	}
	
	/* リスト縦並び */
	table.diagnosis_result td, table.diagnosis_result tr,
	table.diagnosis_result tbody, table.diagnosis_result {
		display: block;
		width:100%;
		box-sizing: border-box;
	}
	.card {
		padding: 20px 50px;
	}
	.diagnosis_result td{
		height: 40px;
}
	
	/* マイナスボタン */
	.diagnosis_result td.dia_button {
	border-bottom: none;
	/*margin: 30px auto 0 auto;*/
	text-align: center;
}
	/* ボタンdivクラス */
.dia_b{
	text-align: center;
}

	/* 操作説明 */
	.explane{
		padding: 20px 50px;
	}
	
}

