@charset "UTF-8";

/* 前頁共通部分*/
/*背景色をクリーム色に*/
html, body {
        margin: 0;
        padding: 0;
}
body {
	background-color: #FFF3E0;
}

/*タイトルロゴのサイズ・位置設定*/
h1.title {
	margin: 0;
	padding: 0;
	line-height: 1;
}
body {
	margin: 0;
	font-family: sans-serif;
}

h2 {
	text-align:center;
}

.container {
	display: flex; /* 横並び */
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
	overflow:hidden;
}

.center {  /* フォームのコンテンツ */
	flex: 0 1 auto;
	min-width: 400px;
	margin: 0 20px;
}
form{ /* フォームのコンテンツ内部 */
	background: #fef263;
	padding: 40px 30px;
	border: solid 6px orange;
	border-radius: 30px;
	box-sizing: border-box;
	width: 100%;
	max-width: 350px;
}
form #text {
	margin: 0 20px;
	text-align: left;
}

input{ 
	margin: 10px 0;
}
input[type="text"], input[type="password"] { /* 記入欄 */
	width: 100%;
	max-width: 250px;
	height: 30px;
	background-color: gold;
	color: #7A2C00;
	border: solid 2px　 #7A2C00;
	border-radius: 5px;
}
.login {
	font-size: 15px;
	color: #FFF3E0;
	padding: 8px 14px 10px;
	margin: 20px;
	text-decoration: none;
	border: solid 2px　 #FF6347;
	border-radius: 8px;
	background: orange;
	transition: 0.2s;
	box-shadow: 0px 5px #FF4500;
}
.login:hover {
	background-color: #FF8C00;
}
.login:active {
	transform: translateY(3px);
	background-color: #dd7900;
}

h2 {
	color: #7A2C00;
	font-size: 35px;
	
}
.Toregist {
	flex-wrap: nowrap;
	color: #7A2C00;
	padding: 1px 5px;
	margin: 0 60px;
	text-decoration: none;
	border: solid 1px #7A2C00;
	border-radius: 5px;
	background: #FAFAD2;
	transition: 0.2s;
}
a:hover {
	background: #FFE4B5;
}
.left, .right {
	height: 360px;
	flex: 0 0 30%;
	max-width: 20%;
    padding: 60px 20px 0 0;
    margin: 20px;
}

/* レスポンシブデザイン */
@media (max-width: 480px){
	img {
		display: none;
	}
	main h2 {
		font-size: 30px;
	}
		
	.center {
		margin: 0;
        padding: 0;
        width: 100%;
	}
	
	.center form{
		padding: 50px 50px;
		margin: 10px 20px;
	}
	
	.center form input[type="text"], .center form input[type="password"] {
		text-align: center;
		width: 180px;
		height: 30px;
		margin: 10px 20px;
	}
	.login {
		margin:30px 70px;
	}
	
	.Toregist {
		margin: 0 40px;
	}
}
/* shouhinDetail.jsp */


/* loginRegister.jsp */
.contain { /* コンテンツ全体 */
	display: flex; /* 横並び */
	flex: nowrap;
	justify-content: center;
	overflow: hidden;
}

 /* 左コンテンツ */	
.notice {
	font-size: 20px;
	color: #7A2C00;
	padding: 0 40px 0 0px;
	margin: 0 120px 0 80px;
}

 /* 「はじめまして！」 */
.first{
	display: flex;
	padding: 0 0 20px 0;
}

/* アプリ紹介文 */
p {
	font-size: 18px;
	margin: 15px 0;
}

 /* 左画像 */
.tip{
	padding: 0 50px;
}

/*　右コンテンツ */
.regist {
	text-align: left;
	flex: 1;
	margin: 0 80px 0 0 ;
	padding: 10px 20px;
}

 /* 「新規登録」 */
.second {
	display: flex;
	padding: 0 0 20px;
}

 /* 右コンテンツ内部 */
.register{
	text-align:center;
	flex: 0 1 auto;
	max-width: 70%;
	background: #fef263;
	padding: 40px 60px;
	margin: 0px 20px;
	border: solid 6px orange;
	border-radius: 30px;
}



/* パスワード設定条件説明 */
.rule{
	text-align: left;
	font-size: 15px;
	color: #7A2C00;
	opacity: 0.5;
}

/* 登録ボタン */
.reg{
	color: #FFF3E0;
	padding: 8px 14px 10px;
	margin: 20px;
	border: solid 2px　 #FFF3E0;
	border-radius: 8px;
	background: orange;
	transition: 0.2s;
	box-shadow: 0px 5px #FF4500;
}

/* 登録ボタンの効果 */
.reg:hover {
	background-color: #FF8C00;
}
.reg:active {
	transform: translateY(3px);
	background-color: #dd7900;
}

/* ログイン画面へ */
.Tologin {
	justify-content: center;
	text-decoration: none;
	padding: 0 10px;
	margin: 0;
	border: solid 1px #7A2C00;
	border-radius: 5px;
	background: #FAFAD2;
	transition: 0.2s;
}

/* レスポンシブデザイン */
@media(max-width: 480px){
	
	.contain {
		flex-direction: column;
		margin: 20px 0 0 0;
	}
	
	.notice {
		padding: 0;
		margin: 0 14px;
	}
	
	.first{
		font-size: 25px;
		margin: 0 30px;
	}
	
	p {
		font-size: 15px;
		margin: 0px 55px 20px;
	}
	
	.second{
		margin: 30px 15px 0 ;
		font-size: 25px;
	}
	
	.regist {
	}
	.register {
		max-width: 100%;
		padding: 30px 30px;
		font-size: 13px;
	}
	
	.register input[type="text"], input[type="password"] {
		width: 140px;
		height: 20px;
		margin: 10px 20px;
	}
	
	.rule {
		font-size: 12px;
		margin: 20px 10px;
	}
	
	.reg{
		margin: 10px 0px 0;
	}
	
	.Tologin {
		margin: 0 20px;
	}
}

/* edit.jsp */


/* operation.jsp */


/* ranking.jsp */


/* albumList.jsp */


/* albumDetail.jsp */


