@charset "UTF-8";

/* 前頁共通部分*/
/*背景色をクリーム色に*/
body {
	background-color: #FFF3E0;
}

/*タイトルロゴのサイズ・位置設定*/
h1.title {
	margin: 0;
	padding: 0;
	line-height: 1;
}
body {
	margin: 0;
	font-family: sans-serif;
}

h2 {
	text-align:center;
}

.container {
	display: flex; /* 横並び */
}

.center {  /* フォームのコンテンツ */
	text-align: left;
	flex: 1;
	padding: 0 50px ;
}
form{ /* フォームのコンテンツ内部 */
	background: #fef263;
	padding: 40px 100px;
	border: solid 6px orange;
	border-radius: 30px;
}
input{ 
	margin: 10px 0;
}
input[type="text"], input[type="password"] { /* 記入欄 */
	width: 250px;
	height: 30px;
	background-color: gold;
	color: #7A2C00;
	border-radius: 5px;
}
.login {
	font-size: 15px;
	color: #FFF3E0;
	padding: 8px 14px;
	margin: 20px 90px;
	text-decoration: none;
	border: solid 0px black;
	border-radius: 8px;
	background: orange;
	transition: 0.2s;
	box-shadow: 0px 5px #FF4500;
}
.login:hover {
	background-color: #FF8C00;
}
h2 {
	color: #7A2C00;
	font-size: 35px;
	
}
a {
	color: #7A2C00;
	padding: 1px 5px;
	margin: 0 60px;
	text-decoration: none;
	border: solid 1px black;
	border-radius: 5px;
	background: #FAFAD2;
	transition: 0.2s;
}
a:hover {
	background: #FFE4B5;
}
.left, .right {
	padding: 50px;
	margin: 60px 30px;
}

@media (max-width: 480px){
	
}
/* shouhinDetail.jsp */


/* loginRegister.jsp */


/* edit.jsp */


/* operation.jsp */


/* ranking.jsp */


/* albumList.jsp */


/* albumDetail.jsp */


