@charset "UTF-8";
.h2 {
	font-size:24px;
}
/* フォーム全体 */
.form-container {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background: #ffffff;
	border: 2px solid #dcdcdc;
	border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* 各入力ブロック行 */
.form-row {
	margin-bottom: 20px;
}
/* 見出し */
.form-label {
	display: block;
	color: #7A2C00;
	border-bottom: 1.5px solid #C75000;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: left;
}
/* 横並び */
.two-column {
	display: flex;
	gap: 20px;
}

.form-group {
	flex: 1;
	display: flex;
	flex-direction: column; /* ラベルと入力欄を縦に並べる */
}

.form-group input {
	width: 100%;
	max-width: 100%;
}

.form-group span.unit {
	margin-left: 250px;
}

/* 入力 */
input[type="text"], input[type="number"], input[type="date"] {
	width: 100%;
	max-width: 250px;
	height: 35px;
	padding: 5px 10px; /* 内側の余白 */
	box-sizing: border-box; /* はみ出し防止 */
	border: 1.9px solid #000;
	border-radius: 15px;
}
/* 必須マーク */
.required {
	color: red;
}

.error {
	color:red;
	font-size:12px;
	margin:0 5px 0 10px;
}

.label-area {
	display:flex;
	align-items:center;
}



/* ラジオボタン */
.radio-group {
	display: flex;
	flex-wrap: wrap; /* 画面が小さいとき折り返す */
	gap: 20px;
}

.radio-group label {
	cursor: pointer; /* ラベルもクリック可能 */
}
/* フレーム */
.frame-area {
	display: flex;
	justify-content: center;
	gap: 30px; /* フレーム間の間隔 */
	flex-wrap: wrap; /* 画面が小さいとき折り返す */
}

.frame-item {
	display: flex;
	flex-direction: column; /* 縦並び */
	align-items: center;
}

/* ラジオボタンと画像の間の間隔 */
.frame-item input {
	margin-top: 5px;
}

.frame-item:hover {
	background-color: #ffe0b2;
}

.frame-item label {
	cursor: pointer; /* 画像もクリック可 */
}

.frame-item img {
	width: 100px;
	height: 100px;
	object-fit: contain; /* 比率維持 */
	
}
/* ボタン */
#registerBtn {
	display: block;
	margin: 20px auto;
	padding: 10px 30px;
}

.backlist a {
  text-decoration: none;
  transition: color 0.3s;
  color: #C75000;
}

/* アイコンプレビュー */
.icon-preview {
	position:relative;
	width:120px;
	height:120px;
	border-radius:50%;
	overflow:hidden;
}

#previewImg {
	position:absolute;                      /* フレームと同じ位置に重ねる */
	width:100%;
	height:100%;
	top:0;
	left:0;
	object-fit:cover;
	object-position:center 40%;
}

.frame1 {
	clip-path:ellipse(35% 30% at 50% 50%);
}
.frame2 {
	clip-path:ellipse(35% 30% at 50% 50%);
}
.frame3 {
	clip-path:ellipse(35% 30% at 50% 50%);
}
.frame4 {
	clip-path:ellipse(35% 30% at 50% 50%);
}
.frame5 {
	clip-path:ellipse(35% 30% at 50% 50%);
}
#previewFrame {
	position:absolute;      /* 重ねて配置 */
	top:0;
	left:0;
	width:100%;
	height:100%;
	pointer-events:none;
	
}


/* スマホ対応 */
@media ( max-width : 750px) {
/* 縦並びにする */

.two-column {
	flex-direction:column;
}
.form-group {
	flex-direction: column;
	align-items:stretch;
}

.form-group span.unit {
	margin-left:250px;
}
/* フレーム少し小さく */
.frame-item img {
	width: 40px;
	height: 40px;
}

}