@charset "UTF-8";
/* shouhinList.jsp,albumList.jsp */
html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

footer {
	margin-top: auto;
}

.mediabr {
	display: none;
}

.shouhinlist {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 400px));
	gap: 0;
	justify-content: center;
	place-items: center;
	margin: 0px 100px;
	background: #ffffff;
	border: 2px solid #dcdcdc;
	border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.shouhin {
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.shouhin img {
	width: 300px;
	height: 420px;
}

.shouhin a:link {
	color: black;
	text-decoration: none;
}

.shouhin a:visited {
	color: black;
	text-decoration: none;
}

.shouhin a:hover {
	color: black;
	text-decoration: none;
}

.shouhin a:active {
	color: black;
	text-decoration: none;
}

.shouhin:hover {
	filter: grayscale(70%) brightness(80%);
}

.shouhin:active {
	filter: grayscale(100%) brightness(50%);
}

.nickname {
	position: absolute;
	top: 5px;
	left: 48%;
	transform: translateX(-50%);
	font-weight: bold;
	width: 140px;
	text-align: center;
}

.nickname p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.shouhinimg {
	position: absolute;
	top: 75px;
	left: 48%;
	transform: translateX(-50%);
	width: 180px;
	height: 180px;
	border: 2px solid black;
}

.shouhinimg img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.name {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 252px;
	left: 48%;
	transform: translateX(-50%);
	width: 200px;
	text-align: center;
}

.name p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.progress {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 295px;
	left: 48%;
	transform: translateX(-50%);
}

.day_price {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 335px;
	left: 48%;
	transform: translateX(-50%);
}

.sort {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	transform: translateX(-30%);
	z-index: 1;
}

.sortbutton {
	width: 60px;
	cursor: pointer;
	z-index: 1;
}

.dropdown {
	display: none;
	position: absolute;
	top: 0;
	right: -330px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 5000;
	width: 300px;
	text-align: left;
	max-width: calc(100vw - 20px);
}

.dropdown a {
	display: block;
	padding: 6px 10px;
	color: black;
	text-decoration: none;
}

.dropdown a:visited {
	color: black;
	text-decoration: none;
}

.dropdown a:hover {
	color: #c97e47;
	filter: grayscale(70%) brightness(80%);
}

.dropdown a:active {
	color: #ffffff;
	filter: grayscale(100%) brightness(50%);
}

.listtitle {
	z-index: 1;
	margin-left: 10%;
}

.nextrank {
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nextrank a {
	text-decoration: none;
	transition: color 0.3s;
	color: #C75000;
}

.nextrank a:hover {
	color: #7A2C00;
}

@media screen and (max-width:600px) {
	.listtitle {
		font-size: 15px;
		text-align: center;
		margin-left: 0;
	}
	.mediabr {
		display: inline;
	}
	.shouhinlist {
		grid-template-columns: repeat(2, minmax(0, 160px));
		margin: 60px 5px 0 5px;
		gap: 10px;
	}
	.shouhin {
		width: 100%;
		margin: 10px 0;
	}
	.shouhin img {
		width: 100%;
		height: auto;
	}
	.nickname {
		top: 0;
		left: 48%;
		transform: translateX(-50%);
		font-size: 10px;
	}
	.shouhinimg {
		top: 18%;
		left: 48%;
		transform: translateX(-50%);
		width: 90px;
		height: 90px;
	}
	.shouhinimg img {
		width: 100%;
		height: 100%;
	}
	.name {
		top: 57.5%;
		left: 48%;
		transform: translateX(-50%);
		font-size: 10px;
	}
	.progress {
		top: 68%;
		left: 48%;
		transform: translateX(-50%);
		font-size: 10px;
	}
	.day_price {
		top: 77.5%;
		left: 48%;
		transform: translateX(-50%);
		font-size: 10px;
	}
	.sort {
		left: 60%;
		width: 50%;
		text-align: left;
		position: absolute;
		top: 130px;
	}
	.sortbutton {
		width: 40px;
		cursor: pointer;
	}
	.dropdown {
		top: 45px;
		right: 20px;
		width: 200px;
		text-align: left;
	}
	.dropdown a {
		font-size: 12px;
	}
	.nextrank {
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 50px;
				transform: translateY(50%);
	}
}