@charset "UTF-8";
/* shouhinList.jsp */
.items{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 0;
	place-items: center;
}

.item{
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}
.item a:link{
    color: black;
    text-decoration: none;
}
.item a:visited{
    color: black;
    text-decoration: none;
}
.item a:hover{
    color: black;
}
.item a:active{
    color: black;
    text-decoration: underline;
}
.item:hover{
	filter: grayscale(70%) brightness(80%);
}
.item:active{
	filter: grayscale(100%) brightness(50%);
}

.nickname{
	position: absolute;
	top: 4px;
	right: 125px;
	font-weight: bold;
}

.shouhinimg{
	position: absolute;
	top: 75px;
	right: 65px;
	width: 180px;
	height: 180px;
	border: 2px solid black;
}

.shouhinimg img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.name{
	position: absolute;
	justify-content: center;	/* 水平方向 */
	align-items: center;	/* 垂直方向 */
	top: 252px;
	right: 135px;
}

.progress{
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 295px;
	right: 135px;
}
.day_price{
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 335px;
	right: 135px;
}

/* albumList.jsp */